<?xml version="1.0" encoding="UTF-8"?>
<!--

       Copyright 2019 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="test.Mapper">

  <resultMap type="test.UserWiseData" id="UserWiseDataRM"
    autoMapping="false">
    <id property="personId" column="person_id" />
    <association property="mandatorySTC" resultMap="TypeWiseDataRM" />
  </resultMap>

  <resultMap type="test.TypeWiseData" id="TypeWiseDataRM">
    <id property="typeId" column="type_id" />
    <result property="personId" column="person_id" />
    <collection property="hrCompanyWiseData"
      resultMap="HRCompanyWiseDataRM" />
  </resultMap>

  <resultMap type="test.HRCompanyWiseData"
    id="HRCompanyWiseDataRM">
    <id property="companyId" column="company_id" />
    <result property="companyCode" column="company_code" />
    <association property="nonMidYear"
      resultMap="PeriodWiseDataRM" columnPrefix="non_mid_year_" />
    <association property="midYear"
      resultMap="PeriodWiseDataRM" columnPrefix="mid_year_" />
  </resultMap>

  <resultMap type="test.PeriodWiseData" id="PeriodWiseDataRM">
    <id property="periodId" column="period_id" />
    <collection property="investmentDateWiseData"
      resultMap="InvestmentDateWiseDataRM" />
  </resultMap>

  <resultMap type="test.InvestmentDateWiseData"
    id="InvestmentDateWiseDataRM">
    <id property="investmentDateId" column="investment_date_id" />
    <collection property="vestingDateWiseData" 
      resultMap="VestingDateWiseDataRM" />
  </resultMap>

  <resultMap type="test.VestingDateWiseData"
    id="VestingDateWiseDataRM">
    <id property="vestingDateId" column="vesting_date_id" />
    <result property="awardDate" column="award_date" />
    <result property="investmentDate" column="investment_date" />
    <result property="vestingDate" column="vesting_date" />
    <result property="amount" column="amount" />
    <result property="returnAmount" column="return_amount" />
    <result property="vestingAmount" column="vesting_amount" />
  </resultMap>

  <select id="fetchUserWiseData" resultMap="UserWiseDataRM"><![CDATA[
SELECT 3520 person_id, '3520-mandatory_stc' type_id, '3520-mandatory_stc-EFGH' company_id, 'EFGH' company_code, '3520-mandatory_stc-EFGH-non_mid_year' non_mid_year_period_id, '3520-mandatory_stc-EFGH-non_mid_year-2018-01-01' non_mid_year_investment_date_id, '3520-mandatory_stc-EFGH-non_mid_year-2018-01-01-2018-12-31' non_mid_year_vesting_date_id, '43101' non_mid_year_award_date, '43101' non_mid_year_investment_date, '12/31/2018' non_mid_year_vesting_date, 16150 non_mid_year_amount, 2374.05 non_mid_year_return_amount, 18524.05 non_mid_year_vesting_amount, NULL mid_year_period_id, NULL mid_year_investment_date_id, NULL mid_year_vesting_date_id, NULL mid_year_award_date, NULL mid_year_investment_date, NULL mid_year_vesting_date, NULL mid_year_amount, NULL mid_year_return_amount, NULL mid_year_vesting_amount FROM (VALUES(0))
UNION ALL
SELECT 3520 person_id, '3520-mandatory_stc' type_id, '3520-mandatory_stc-ABCD' company_id, 'ABCD' company_code, '3520-mandatory_stc-ABCD-non_mid_year' non_mid_year_period_id, '3520-mandatory_stc-ABCD-non_mid_year-2018-01-01' non_mid_year_investment_date_id, '3520-mandatory_stc-ABCD-non_mid_year-2018-01-01-2019-12-31' non_mid_year_vesting_date_id, '43101' non_mid_year_award_date, '43101' non_mid_year_investment_date, '12/31/2019' non_mid_year_vesting_date, 6000 non_mid_year_amount, 882 non_mid_year_return_amount, 6882 non_mid_year_vesting_amount, NULL mid_year_period_id, NULL mid_year_investment_date_id, NULL mid_year_vesting_date_id, NULL mid_year_award_date, NULL mid_year_investment_date, NULL mid_year_vesting_date, NULL mid_year_amount, NULL mid_year_return_amount, NULL mid_year_vesting_amount FROM (VALUES(0))
UNION ALL
SELECT 3520 person_id, '3520-mandatory_stc' type_id, '3520-mandatory_stc-EFGH' company_id, 'EFGH' company_code, '3520-mandatory_stc-EFGH-non_mid_year' non_mid_year_period_id, '3520-mandatory_stc-EFGH-non_mid_year-2018-01-01' non_mid_year_investment_date_id, '3520-mandatory_stc-EFGH-non_mid_year-2018-01-01-2019-12-31' non_mid_year_vesting_date_id, '43101' non_mid_year_award_date, '43101' non_mid_year_investment_date, '12/31/2019' non_mid_year_vesting_date, 16150 non_mid_year_amount, 2374.05 non_mid_year_return_amount, 18524.05 non_mid_year_vesting_amount, NULL mid_year_period_id, NULL mid_year_investment_date_id, NULL mid_year_vesting_date_id, NULL mid_year_award_date, NULL mid_year_investment_date, NULL mid_year_vesting_date, NULL mid_year_amount, NULL mid_year_return_amount, NULL mid_year_vesting_amount FROM (VALUES(0))
UNION ALL
SELECT 3520 person_id, '3520-mandatory_stc' type_id, '3520-mandatory_stc-ABCD' company_id, 'ABCD' company_code, '3520-mandatory_stc-ABCD-non_mid_year' non_mid_year_period_id, '3520-mandatory_stc-ABCD-non_mid_year-2018-01-01' non_mid_year_investment_date_id, '3520-mandatory_stc-ABCD-non_mid_year-2018-01-01-2020-12-31' non_mid_year_vesting_date_id, '43101' non_mid_year_award_date, '43101' non_mid_year_investment_date, '12/31/2020' non_mid_year_vesting_date, 6000 non_mid_year_amount, 882 non_mid_year_return_amount, 6882 non_mid_year_vesting_amount, NULL mid_year_period_id, NULL mid_year_investment_date_id, NULL mid_year_vesting_date_id, NULL mid_year_award_date, NULL mid_year_investment_date, NULL mid_year_vesting_date, NULL mid_year_amount, NULL mid_year_return_amount, NULL mid_year_vesting_amount FROM (VALUES(0))
UNION ALL
SELECT 3520 person_id, '3520-mandatory_stc' type_id, '3520-mandatory_stc-EFGH' company_id, 'EFGH' company_code, '3520-mandatory_stc-EFGH-non_mid_year' non_mid_year_period_id, '3520-mandatory_stc-EFGH-non_mid_year-2018-01-01' non_mid_year_investment_date_id, '3520-mandatory_stc-EFGH-non_mid_year-2018-01-01-2020-12-31' non_mid_year_vesting_date_id, '43101' non_mid_year_award_date, '43101' non_mid_year_investment_date, '12/31/2020' non_mid_year_vesting_date, 16150 non_mid_year_amount, 2374.05 non_mid_year_return_amount, 18524.05 non_mid_year_vesting_amount, NULL mid_year_period_id, NULL mid_year_investment_date_id, NULL mid_year_vesting_date_id, NULL mid_year_award_date, NULL mid_year_investment_date, NULL mid_year_vesting_date, NULL mid_year_amount, NULL mid_year_return_amount, NULL mid_year_vesting_amount FROM (VALUES(0))
  ]]></select>

</mapper>
