<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="test.Mapper">

  <resultMap type="test.Person" id="personRM">
    <result property="id" column="id" />
    <result property="name" column="name" />
  </resultMap>

  <select id="getOutCursor" resultType="java.lang.Object"
    statementType="CALLABLE"><![CDATA[
    {
      call single_curs(
        #{personId,jdbcType=INTEGER,mode=IN},
        #{persons,jdbcType=CURSOR,mode=OUT,resultMap=personRM,javaType=java.sql.ResultSet}
      )
    }
  ]]></select>

</mapper>
