<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="test.Mapper">

  <resultMap type="test.Pet" id="petRM">
    <id property="id" column="id" />
    <result property="name" column="name" />
  </resultMap>

  <resultMap type="test.Person" id="personRM">
    <id property="id" column="id" />
    <result property="name" column="name" />
    <collection property="pets" resultSet="petRS" column="id"
      foreignColumn="owner_id" resultMap="petRM" />
    <collection property="petNames" ofType="java.lang.String"
      column="id" foreignColumn="owner_id" resultSet="petNameRS"
      javaType="java.util.List">
      <result column="name" />
    </collection>
  </resultMap>

</mapper>
