<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="test.Mapper">

  <resultMap id="outputResultMap" type="test.StoredProcOutput">
    <result property="Output" column="DiscountValue" />
  </resultMap>

  <select id="callStoredProcedure" statementType="CALLABLE"
    resultMap="outputResultMap">
    {call get_discount_value(
    #{SP_FirstName,mode=IN,jdbcType=NVARCHAR},
    #{SP_LastName,mode=IN,jdbcType=NVARCHAR},
    #{SP_Gender,mode=IN,jdbcType=NVARCHAR},
    #{SP_Birthday,mode=IN,jdbcType=DATE},
    #{SP_Age,mode=IN,jdbcType=BIGINT}
    )}
  </select>
</mapper>
