<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.BaseEntityMapper">

  <select id="add" statementType="CALLABLE">
    call create_deliverable(
      #{name},
      #{filename,jdbcType=ARRAY,typeHandler=test.StringArrayTypeHandler},
      #{outparam,jdbcType=ARRAY,jdbcTypeName=STRINGARRAY,mode=OUT,typeHandler=test.StringArrayTypeHandler}
    )
  </select>

</mapper>
