<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC">
        <property name="" value="" />
      </transactionManager>
      <dataSource type="UNPOOLED">
        <property name="driver" value="com.microsoft.sqlserver.jdbc.SQLServerDriver" />
        <property name="url" value="jdbc:sqlserver://127.0.0.1:1433;databaseName=test" />
        <property name="username" value="sa" />
        <property name="password" value="Abcdefg7" />
      </dataSource>
    </environment>
  </environments>

  <mappers>
    <mapper class="test.Mapper" />
  </mappers>

</configuration>
